# Node Modules
node_modules/
firebase_functions/node_modules/
.firebase-data

# pnpm
.pnpm-debug.log*
.pnpm-store/

# Build-Output
/lib/
/dist/
/firebase_functions/lib/
/firebase_functions/dist/

# Lockfiles
# pnpm verwendet pnpm-lock.yaml – diesen NICHT ignorieren!
# package-lock.json und yarn.lock nur ignorieren, wenn du sie nicht benutzt:
package-lock.json
yarn.lock

# Next.js
.next/
out/

# Env-Dateien
.env
.env.* # schließt .env.local, .env.production etc. ein

# Certificates & Private Keys
certs/
*.key
*.csr
*.pem
*.p12
*.pfx

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
*.log

# macOS
.DS_Store

# Editor/IDE
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Users/andystaudinger/Tasko/firebase-emulator-data
.vercel
.env.local
.env.production
.env.local
firebase_functions/.env.tilvo-f142f
.env.local
.env.example

# GTM API Konfiguration
.env.gtm
client_secret.json
taskilo-newsletter-service-key.json
service-account*.json
*-service-account.json
firebase-admin*.json
.env*.local
